@using COE.Common.Localization

<h1 class="page-title">
    @ViewBag.Title
</h1>
<div class="page-bar">
    @Html.Partial("_Breadcrumb")
    
</div>
@*<div class="page-bar">
    <div class="page-breadcrumb">
        @Html.MvcSiteMap().Menu("MenuHelperModel")
        @Html.MvcSiteMap().SiteMapPath()
    </div>
</div>*@


