<!DOCTYPE html>
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta charset="UTF-8">
    <title>الكليات التقنية العالمية / الصفحة الرئيسية</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Content/Images/fav.gif" type="image/gif" sizes="64x64">
    <link href="~/Content/css/bootstrap-4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link href="~/Content/theme_rtl/assets/layouts/layout2/css/style.css?v=15435" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme_rtl/assets/layouts/layout2/css/li-scroller.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme_rtl/assets/global/css/components-rtl.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Content/theme_rtl/assets/layouts/layout2/css/layout-rtl.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/IC.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103593629-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103593629-1');
    </script>
</head>

<body id="bodySP" class="page-sidebar-closed-hide-logo page-container-bg-solid page-boxed page-header-fixed">
    <div class="container-fluid" id="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-9" id="top-header">
                    <ul class="top-nav ml-auto">
                        <li class="nav-item1"> <a class="nav-link1 active" href="/ITC-WEB/SitePages/Terms.aspx" data-toggle-ignore="modal" data-target="#demo-modal">سجل الان</a></li>
                        <li class="nav-item1" style="display:none"> <a class="nav-link1" href="#" data-toggle="modal" data-target="#demo-modal">حدد ميولك </a> </li>
                        <li class="nav-item1"> <a class="nav-link1" href="@Url.Action("login","account")">تسجيل الدخول</a> </li>

                    </ul>
                </div>
                <div class="col-md-5 col-sm-3  ">
                    <div class="social-media-icons-top">
                        <a href="https://www.youtube.com/channel/UCoVWolZNHZhbl4pVQLUoPqQ" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/itc_ksa" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/itc_ksa/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="main-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/"> <img src="~/Content/Images/ITC-Website-Logo.gif" alt="itc logo" /> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <a href="javascript:void(0)" id="toggle-side"><i class="fa fa-bars" aria-hidden="true"></i></a>
                </button>


                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav" style="-webkit-padding-start:  0;">
                        <li class="nav-item"> <a class="nav-link" href="/#about-section">من نحن</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="/#majors-section">التخصصات</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="/#faculities-section">الكليات</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="/#socialmedia-section">أخبار الكليات</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="/#operators-section">مشغلو الكليات</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="/#partners-section1">شركاؤنا</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="/#partners-section">آراء المتدربين</a> </li>
                        <li class="nav-item"> <a class="nav-link no-border" href="/#inquiries-section">تواصل معنا</a> </li>
                    </ul>
                </div>
            </nav>
            <a href="Terms.aspx" class="float-register">سجل الآن</a>
        </div>

        <ul id="ticker01">
            <!--<li><a href="#">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ </a><span>22/04/2018</span></li>
            <li><a href="#">هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما</a><span>22/04/2018</span></li>
            <li><a href="#">خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً</a><span>22/04/2018</span></li>-->
            <!-- eccetera -->
        </ul>
    </div>
    <div class="container ic_container">

        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="panel panel-default ic_home_panel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet box">
                                    @Html.Partial("_Header")
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>

    </div>

    <div class="container-fluid" id="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="~/Content/Images/logo-wt.png">
                </div>
                <div class="col-md-3 text-center">
                    <img src="~/Content/Images/2030vision-wt.png" style="width:50%;">
                </div>
                <div class="col-md-3 text-center">
                    <img src="~/Content/Images/tvtc-wt.png" style="width:80%;">
                </div>
                <div class="col-md-3 text-center">
                    <img src="~/Content/Images/coelogo-wt.png" style="width:60%;">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <p class="footercopyright">جميع الحقوق محفوظة لكليات التقنية العالمية &copy; 2018</p>
                </div>
                <nav class="navbar navbar-expand-lg">
                    <ul class="navbar-nav" id="ul-footer">
                        <li class="nav-item"> <a class="nav-link2 no-border" href="/#about-section">من نحن</a> </li>
                        <li class="nav-item"> <a class="nav-link2 no-border" href="/#majors-section">التخصصات</a> </li>
                        <li class="nav-item"> <a class="nav-link2 no-border" href="/#faculities-section">الكليات</a> </li>
                        <li class="nav-item"> <a class="nav-link2 no-border" href="/#socialmedia-section">أخبار الكليات</a> </li>
                        <li class="nav-item"> <a class="nav-link2 no-border" href="/#operators-section">مشغلو الكليات</a> </li>
                        <li class="nav-item"> <a class="nav-link2 no-border" href="/#partners-section1">شركاؤنا</a> </li>
                        <li class="nav-item"> <a class="nav-link2 no-border" href="/#partners-section">آراء المتدربين</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>



    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/expressive.annotations.validate.min.js"></script>
    <script src="~/Content/js/bootstrap-4.min.js"></script>
    <script type="text/javascript">
        // When the user scrolls the page, execute myFunction
        window.onscroll = function () {
            myFunction()
        };

        // Get the header
        var header = document.getElementById("main-header");

        // Get the offset position of the navbar
        var sticky = header.offsetTop;

        // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset >= sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>
    <script src="~/Scripts/jquery.li-scroller.1.0.js"></script>
    @*<script src="~/Scripts/script.js"></script>*@
    @RenderSection("scripts", false)
</body>

</html>
