
<script type="text/javascript" src="~/scripts/jquery.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/survey-core@2.0.4/survey-core.min.css" />
<script type="text/javascript" src="https://unpkg.com/survey-jquery/survey.jquery.min.js"></script>
<script src="https://unpkg.com/survey-core/survey.i18n.min.js"></script>

<style>


    /*scaling*/
    .hidden {
        transition: all 1s ease-in-out;
        transform-origin: left top;
        transform: scaleY(0);
    }

    .visible {
        transform: scaleY(1);
    }


    /*fading
    .hidden {
        transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    .visible {
        transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
        opacity: 1;
        visibility: visible;
    }*/
</style>




<section class="d-flex landing__content flex-column container">
    <div class="landing__container survey-answer d-flex flex-column">
        <h1>@SurveysResources.SurveyParticipation</h1>

        <h2>Survey Fix Done Successfully</h2>

       
    </div>
</section>

