@import url(//fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body{font-family: 'Droid Arabic Kufi', sans-serif !important; direction:rtl}
h1, h2, h3, h4, h5, h6{font-family: 'Droid Arabic Kufi', sans-serif;}
.portlet.box.green>.portlet-title, .portlet.green, .portlet>.portlet-body.green{background: rgba(38, 52, 75, 0.36);}
.portlet.box.green{border:1px solid rgba(119, 128, 145, 0.04);}
.btn.green:not(.btn-outline){background: #21c6be;}
.btn{ border-radius:30px !important}
.form-control{border-radius:3px !important;background:rgb(241, 242, 244);box-shadow: inset 0 1px 3px rgba(0,0,0,.2) !important;border: 1px solid rgba(38, 52, 75, 0.31);height: 42px;line-height: 42px;}
.form-control:focus{border: 1px solid rgba(38, 52, 75, 0.51);background:#fff;box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.1) !important;transition: all 0.3s cubic-bezier(.33, .07, .23, .86) !important;}
.table-advance thead tr th{background: #fafcfb;font-weight:bold;vertical-align:middle;color:#26344b;border-top: 3px solid #17c4bb !important;}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border:1px solid rgba(0,0,0,.05); border-left:none !important; border-right:none}
.table-striped>tbody>tr:nth-of-type(odd){ background:rgba(148, 148, 148, 0.08)}
.table-striped .btn{ background:#ffffff !important; border-radius:5px !important; border:1px solid rgba(0, 0, 0, 0.22) !important; color:rgba(38, 52, 75, 0.85) !important; padding:3px 6px; font-size:16px}
.table-striped .btn .fa.fa-trash-o{color:#e02424}
.table-striped .btn .fa.fa-pencil-square-o{color:#0075be}
.table-striped .btn .fa.fa-bars{color:#21c6be}
.btn.default:not(.btn-outline){ background:rgba(38, 52, 75, 0.65); color:#fff}
.portlet.box.green>.portlet-title>.caption, .portlet.box.green>.portlet-title>.caption>i{font-size:20px;color: #333;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{ background:#4196cc; border:1px solid #4196cc; box-shadow:0 3px 7px rgba(0,0,0,.35)}
.pagination>li>a, .pagination>li>span{border-radius:30px !important; border:1px solid #ccc; width:35px; height:35px; padding:0; text-align:center; line-height:34px; color:#4196cc; font-weight:bold; margin:0 3px}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{ border-color:#ccc}
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover{ background:#72b1d4}
.page-header.navbar .page-logo{background:#629ab9;position: relative;}
.page-sidebar .page-sidebar-menu>li>a>i[class*=icon-], .page-sidebar .page-sidebar-menu>li>a>i[class^=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class*=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class^=icon-]{ color:#fff; }
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{color:#eee;border-top:1px solid rgba(255,255,255,.1);}
.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a{background: #5c91af;}
.page-sidebar-menu-hover-submenu li:hover a>.arrow{border-left:8px solid #313131}
.page-sidebar .page-sidebar-menu>li.active>a{ background:#fff !important; color:#313131 !important; font-weight:bold; border-right:4px solid #17c4bb}
.page-sidebar .page-sidebar-menu>li.active>a i{}
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class*=icon-], .page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class^=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class*=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class^=icon-]{ color:#fff}
.page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a{color:#eee}
.page-bar .page-breadcrumb > li > a, .page-bar .page-breadcrumb > li > span{ color:#333}
.page-bar{border-radius:30px !important; padding-right:10px; box-shadow:0 3px 10px rgba(0,0,0,.07)} 
.page-container-bg-solid .profile{border-radius:5px !important;box-shadow: 0 3px 10px rgba(0,0,0,.07);}
.ver-inline-menu li.active a, .ver-inline-menu li.active i{ background:#21c6be !important; border:none}
.ver-inline-menu li.active a{border-radius:30px !important; overflow:hidden; border-right:none}
.ver-inline-menu li.active:after{border-right: 6px solid #21c6be; display:none }
.ver-inline-menu li a{background:none;border-right: none;}
.ver-inline-menu li i{background:none !important;color:#333;border:1px solid #333;border-radius:30px;padding: 0;width: 35px;height: 35px;line-height: 35px !important;}
.ver-inline-menu li { margin-bottom:10px}
.ver-inline-menu li a, .ver-inline-menu li i{transition: all 0.3s cubic-bezier(.33, .07, .23, .86);}
.ver-inline-menu li:hover a{ background:none; color:#21c6be; font-weight:bold}
.ver-inline-menu li:hover i{ background:#21c6be !important; border-color:#21c6be}
.page-title{color: #8d5e9f !important;font-family: 'Droid Arabic Kufi', sans-serif !important;}
.profile-info li{border:1px solid #b6b6b6; padding:5px !important; border-radius:5px !important}
.profile-info li i{color: #8e44ad !important;}
.profile-info h1{color:#333 !important; font-weight:bold !important;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{box-shadow:none !important; border:1px solid transparent; border-right:3px solid rgba(142, 68, 173, 0.35) }
.ver-inline-menu li.active a:hover{color:#fff; font-weight:normal}
.label-danger{  display:block; padding:15px; margin:0 !important; width:100% !important;color: #a94442 !important;background-color: #f2dede;border: 1px solid #ebccd1; font-weight:bold}
.page-title:after{content: "";width: 10%;height: 4px;display: block;margin-top: 5px;background: rgba(141, 94, 159, 0.66);}
.user_news_container .user_news_box, .requests_container, .portlet.light.calendar, .charts_container .portlet.light, .widget-row .widget-thumb{padding: 20px;background: #ffffff;height: auto;border-radius: 5px !important;box-shadow: 5px 15px 48px rgba(0,0,0,0.15), 0 15px 32px rgba(0,0,0,0.1);}
.profile-content{overflow:visible !important}
div.profile-sidebar-portlet{background:rgba(139, 142, 148, 0.71) !important;padding: 20px 10px !important;border-radius: 5px !important;box-shadow: 5px 15px 48px rgba(0,0,0,0.15), 0 15px 32px rgba(0,0,0,0.1);}
div.profile-sidebar-portlet .profile-usertitle-name{ color:#fff; text-align:center}
div.profile-sidebar-portlet .profile-usertitle-name i{display:block; width:40px; height:40px; border:1px solid #fff; line-height:40px; margin:auto; border-radius:40px;}
div.profile-sidebar-portlet .profile-usertitle{margin:0}
div.profile-sidebar-portlet .profile-usertitle ul li{display:block; text-align:right;}
div.profile-sidebar-portlet .profile-usertitle ul li .profile-usertitle-job{ color:#fff;  border:1px solid rgba(255,255,255,.5); padding:5px; border-radius:5px !important;}
.portlet.light.requests_wrapper, .portlet.light.user_news_container{ background-color:transparent !important; padding:0}
.portlet.light.requests_wrapper h4, .portlet.light.user_news_container span.caption-subject{color: #313131 !important;font-weight: normal !important;font-size: 20px;}
.portlet.light.requests_wrapper h4:after, .portlet.light.user_news_container span.caption-subject:after{content: "";width: 15%;height: 3px;display: block;margin-top: 5px;background: rgba(49, 49, 49, 0.56);}
.requests_container div a{color:#5e5e5e; text-decoration:none}
.requests_container div i{color: rgb(23, 196, 187);width:30px;height:30px;border:1px solid #ccc;border-radius:50px;text-align:center;line-height:30px !important;font-size:15px;}
.requests_container div{ margin-top:10px !important}
.user_news_container .user_news_box{ margin-top:10px;}
.page-footer{height: auto !important;background: #dfe1e4;padding: 20px 0 0 !important;}  
.page-footer .page-footer-inner{float:none !important;display: block !important;text-align: center;}
.page-footer .page-footer-inner a{display:block;background: rgba(0, 0, 0, 0.1);color: #525d65;padding: 6px;margin-top: 15px;}
.mt-checkbox>span, .mt-radio>span{transform: scaleX(-1);}
.form-control[type="file"]{ line-height:normal; }
.file-upload-terms{ background:#efefef; border-radius:5px !important; padding:5px;}
.file-upload-terms .form-control{margin-bottom:10px;background: #f9f9f9;}
.file-upload-terms p{ margin:5px}
.alert-danger {color: #a94442; background-color: #f2dede;border-color: #ebccd1; border-radius:3px !important;}
.charts_container{ margin-top:15px;}
.charts_container .portlet.light{ box-shadow: 5px 15px 38px rgba(0,0,0,0.1), 0 15px 22px rgba(0,0,0,0.05);}
.portlet>.portlet-title>.tools{ background:rgb(90, 142, 171); padding:0; width:30px; height:30px; line-height:38px; border-radius:30px !important; margin-top:3px}
.portlet>.portlet-title>.tools a{ display:block; width:20px !important; height:30px; background-repeat:no-repeat; line-height:38px; background-position:center}
.portlet.box.green>.portlet-title, .portlet.green, .portlet>.portlet-body.green{background:rgb(114, 177, 212);border-top: 2px solid rgb(114, 177, 212);border-radius: 5px 5px 0 0 !important;}
.portlet.box.green{border:1px solid rgba(119, 128, 145, 0.04);border-radius: 5px !important;box-shadow: 0 3px 10px rgba(0,0,0,.1);}
.form .form-actions.right, .portlet-form .form-actions.right{border-radius:0 0 5px 5px !important}
.portlet.box>.portlet-body{border-radius:0 0 5px 5px !important}
.page-header.navbar .menu-toggler.sidebar-toggler{position:absolute;top:0;left: 10px;}
.page-footer{ background:#202c54}
.page-footer .page-footer-inner a{background:none;display:inline-block !important;margin: 0 0 10px;}
.footer_copyright{ float:right}
.page-footer .page-footer-inner{max-width:1200px; margin:auto;}
.footer_links{float:left;}
.footer_links ul{list-style:none;padding: 0;margin: 0;}
.footer_links ul li{float:right;}
.footer_links ul li a{color: rgba(255, 255, 255, 0.8) !important;font-size:14px;text-decoration: none !important;}
.footer_copyright a{color:rgba(255, 255, 255, 0.7) !important; font-size:14px}
.footer_links ul li a:after{content:''; display:inline-block; width:1px; background:rgba(255, 255, 255, 0.56); height:18px; vertical-align:middle; margin:0 10px 0 0}
.footer_links ul li:last-child a:after{display:none}
.page-sidebar .page-sidebar-menu>li>a>i[class*=icon-], .page-sidebar .page-sidebar-menu>li>a>i[class^=icon-]{font-size:30px; vertical-align:middle;}
@media (min-width: 992px){
.page-boxed .page-container {background-color: #72b1d4;}
.page-boxed{ background:#b3b3b3}
.page-sidebar-menu-hover-submenu li:hover>.sub-menu{ background:#313131 !important; box-shadow:5px 5px 30px rgba(0,0,0,.3) !important}
}

/* loading pane*/
#loading-pane { display:none; opacity: 0.8;  position: fixed; top: 0; left: 0; 
    width: 100%; height: 100%; filter: alpha(opacity=80); -moz-opacity: 0.8; 
    z-index: 999998; background-color: #ffffff; }
#loading-pane img { position: absolute; top: 40%; left: 47%; z-index: 999999; }

/*badges*/

.badge-request-1{
    background-color: #36c6d3;
}
.badge-request-2{
    background-color: #ed6b75;
}
.badge-request-3{
    background-color: #bac3d0;
}
.badge-request-4{
    background-color: #F1C40F;
}
.badge-request-5{
    background-color: #659be0;
}
.badge-request-6{
    background-color: #659be0;
}
.badge-status-1{
background-color: #36c6d3;
}
.badge-status-2{
    background-color: #ed6b75;
}


.loader-overlay-text {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    color: #ffffff;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    overflow: hidden;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.78);
}

    .loader-overlay img {
        margin: 0 auto;
        display: block;
        padding-top: 35vh;
        width: 100px;
    }


    .bootstrap-tagsinput {
        width: 91%;
        height: 44px;
        overflow-y: scroll;
    }