@font-face{font-family:'title_regular'; src:url('../fonts/ge-dinar-two-light.otf')}
@font-face{font-family:'title_bold'; src:url('../fonts/ge-dinar-two-medium.otf')}
@font-face{font-family:'des-bold'; src:url('../fonts/droidkufi-bold.eot'); src:url('../fonts/droidkufi-bold.eot?#iefix') format('embedded-opentype'),url('../fonts/droidkufi-bold.woff') format('woff'),url('../fonts/droidkufi-bold.ttf') format('truetype')}
@font-face{font-family:'des-regular'; src:url('../fonts/droidkufi-regular.eot'); src:url('../fonts/droidkufi-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/droidkufi-regular.woff') format('woff'),url('../fonts/droidkufi-regular.ttf') format('truetype')}
@font-face{font-family:'title_regular'; src:url('../fonts/tahoma.ttf'); unicode-range:U+30-39}
@font-face{font-family:'title_bold'; src:url('../fonts/tahoma.ttf'); unicode-range:U+30-39}
@font-face{font-family:'des-bold'; src:url('../fonts/tahoma.ttf'); unicode-range:U+30-39}
@font-face{font-family:'des-regular'; src:url('../fonts/tahoma.ttf'); unicode-range:U+30-39}

*, *:before, *:after{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
body{overflow:auto; overflow-x:hidden; margin:0px !important; padding:0px !important; font-family:"title_bold"!important; direction:rtl; min-width:425px; color:#606060; font-size:24px; height:100%}
html{height:100%}
.clr{clear:both; display:block}
img{border:0; vertical-align:middle}
a{text-decoration:none; color:#404040}
.main_div{background:url(../images/experiences_bg.png) no-repeat bottom center; background-size:100% 100%; min-height:100%; padding:20px 20px 50px}
.header{width:100%; max-width:700px; padding:5% 0 50px; margin:0 auto; text-align:center}
.header_logo{width:250px}
form{max-width:700px; margin:0 auto 20px; background-color:rgba(255,255,255,0.5); border:1px solid #eee; padding:20px}
form .form-group label{width:30%; font-size:22px; font-family:title_bold; float:right}
form .form-group input{width:70%; font-family:title_bold; font-size:20px; padding:10px; float:right; margin:0 0 10px 0; border:1px solid #e7e7e7}
form .form-group-ol{margin-right:30%}
form .form-group-ol img.CAPTCHA{border:1px solid #e7e7e7; margin-left:10px; max-width:60%}
form .form-group-ol img.refresh{width:30px}
.form-group .field-validation-error{ position:absolute;  top:58px;  left:19px;  background:#a94442;  color:#fff;  padding:5px 20px;  font-size:16px;  border-radius:3px;  box-shadow:0 1px 4px rgba(0,0,0,.35);  z-index:2}
.form-group .field-validation-error:after{ content:"";  width:0; height:0; border-left:7px solid transparent; border-right:7px solid transparent; border-bottom:10px solid #a94442;  position:absolute;  top:-8px}
.btn_row{text-align:center; padding:15px 0 0 !important; margin-top:15px; border-top:1px dotted #fff}
.btn{background-color:#0080cb; color:#fff; font-size:18px; border-radius:100px; padding:10px 20px; font-family:title_bold; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; display:inline-block; border:1px solid #0080cb; margin:0 10px 10px; cursor:pointer}
.btn:hover{-webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; background-color:#fff; color:#0080cb; border:1px solid #0080cb}
.options{padding:0; margin-bottom:20px; max-width:700px; margin:0 auto}
.options a:link, .options a:visited{display:block; width:33.3333%; float:right; color:#fff; font-size:16px; text-align:right; padding:10px}
.options a i{font-size:50px; vertical-align:middle; margin-left:10px; float:right}
.options a.facebook{background-color:#3A589B; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; border:1px solid #3A589B}
.options a.twitter{background-color:#48C0EB; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; border:1px solid #48C0EB}
.options a.newuser{background-color:#87BF68; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; border:1px solid #87BF68}
.options a.facebook:hover{background-color:#fff; color:#3A589B; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; border:1px solid #3A589B}
.options a.twitter:hover{background-color:#fff; color:#48C0EB; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; border:1px solid #48C0EB}
.options a.newuser:hover{background-color:#fff; color:#87BF68; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; border:1px solid #87BF68}
@media (max-width:1024px){.main_div{background-size:auto 100%}
}
@media (max-width:850px){form .form-group-ol{margin-right:0}
form .form-group img.CAPTCHA{max-width:80%}
form .form-group label, form .form-group input{width:100%; font-size:18px; float:right}
form .form-group input, form{max-width:100%; margin:10px 0 20px}
.options a:link, .options a:visited{width:100%; margin-bottom:5px; text-align:right}
.options{max-width:100%}
}
