@font-face{font-family:'title_regular'; src:url('../fonts/ge-dinar-two-light.otf')}
@font-face{font-family:'title_bold'; src:url('../fonts/ge-dinar-two-medium.otf')}
@font-face{font-family:'des-bold'; src:url('../fonts/droidkufi-bold.eot'); src:url('../fonts/droidkufi-bold.eot?#iefix') format('embedded-opentype'),url('../fonts/droidkufi-bold.woff') format('woff'),url('../fonts/droidkufi-bold.ttf') format('truetype')}
@font-face{font-family:'des-regular'; src:url('../fonts/droidkufi-regular.eot'); src:url('../fonts/droidkufi-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/droidkufi-regular.woff') format('woff'),url('../fonts/droidkufi-regular.ttf') format('truetype')}

*, *:before, *:after{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
body{font-size:14px; color:#606060; overflow:auto; margin:0px auto; padding:0px; font-family:"des-regular"; direction:rtl; min-width:480px; max-width:2200px; background-color:#fff}
.clr{clear:both; display:block; height:0; padding:0 !important}
img{border:0; vertical-align:middle}
a{text-decoration:none}
ul{-webkit-padding-start:0}

#arrow{position:fixed; right:20px; bottom:20px; color:white; z-index:99999999}
#arrow a{cursor:pointer; float:right}

.main_slide{position:relative; width:100%; margin:0 auto}
.main_slide>img:nth-child(1){width:100%}
.main_slide>img:nth-child(2){width:100%; position:absolute; bottom:0; right:0}
.main_slide>a img{position:absolute; bottom:80px; right:50%; margin-right:-35px; opacity:0.5}
.main_slide>a:hover img{opacity:0.8}

.header{position:absolute; top:0; width:100%; padding:0 18px}
.logo{display:block; padding:20px; background-color:#fff; float:right}

.tooltip{float:left; margin:33px 10px 0 0; width:40px; height:40px}
.tooltip.srclose>div{display:none}
.tooltip.sropen>div{display:block}
.tooltip>div{position:absolute; top:0; left:0; padding:20px 20px 20px 60px; text-align:center; background-color:rgba(0,128,203,0.90); width:100%; z-index:99}
.tooltip>span{display:block; cursor:pointer; background-color:rgba(0,0,0,0.5); color:#fff; font-size:20px; padding:10px; line-height:20px; text-align:center; font-family:Arial}
.srch a.srch_btn:link, .srch a.srch_btn:visited{border:1px solid #fff; color:#fff; font-size:20px; padding:0 20px}
.srch input{border:none; background:#fff; color:#606060; padding:0 20px; width:450px; font-family:"des-regular"; font-size:20px; max-width:75%}
.popular_srch{padding:10px 0; margin:0; list-style:none; width:530px; max-width:90%; margin:0 auto; text-align:right}
.popular_srch li:first-child{display:block; width:100%}
.popular_srch li{display:inline-block; color:#fff; padding:5px}
.popular_srch li a:link, .popular_srch li a:visited{border:1px solid #fff; color:#fff; border-radius:5px; padding:0 5px; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out}
.popular_srch li a:hover{background-color:#fff; color:#0080cb; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out}
.lan_group{padding:10px 0; margin:0; list-style:none; max-width:530px; width:90%; margin:0 auto; text-align:right}
.lan_group li{display:inline-block; color:#fff; padding:10px 5px}
.lan_group li a:link, .lan_group li a:visited{border:1px solid #fff; color:#fff; border-radius:5px; padding:0 10px; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out}
.lan_group li a:hover, .lan_group li a.active{background-color:#fff; color:#0080cb; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out}
.social_group{padding:10px 0; margin:0; list-style:none; max-width:530px; width:90%; margin:0 auto; text-align:center}
.social_group li{display:inline-block; color:#fff; padding:5px}
.social_group li a:link, .social_group li a:visited{border:1px solid #fff; color:#fff; border-radius:5px; padding:0 5px; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; font-size:30px; width:58px; height:58px; display:inline-block}
.social_group li a:hover{background-color:#fff; color:#0080cb; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out}

.menu .box, .menu .subbox{display:none}
.menu .box.visible, .menu .subbox.visible{display:block}
.tooltip.sropen>div.menu{background-color:rgba(0,128,203,0.95); width:100%; top:0; padding:0}
.menu .topbar .tabs{padding:0; margin:0; list-style:none}
.menu .topbar .tabs li{display:inline-block; color:#add0eb; font-family:"title_bold"; font-size:30px; float:right; cursor:pointer; padding:0 30px}
.menu .topbar .tabs li.current{color:#fff}
.topbar{background-color:#3399d5; padding:20px 20px 20px 60px}
.topbar a{float:left; display:block; margin:0 8px; position:relative; z-index:99}
.m_close{position:absolute; left:20px; top:20px; z-index:99}
.menu .box{padding:20px}
.menu .box1>ul{padding:0; margin:0; list-style:none; margin:0 auto}
.menu .box1>ul>li{float:right; width:33.3333%; padding:20px}
.subtabs{width:100%; padding:5px; margin:0; list-style:none}
.subtabs li{cursor:pointer; font-size:20px; color:#a3c7e6; float:right; width:50%; padding:10px; text-align:center; margin-bottom:5px; font-family:title_bold}
.subtabs li.subcurrent{color:#fff; background-color:#2995d4}
.menu_map{max-width:100%}
.box1 .subbox>a{display:block; width:50%; padding:5px; float:right}
.box1 .subbox>a img{width:100%}
.fl_ul{padding:0; margin:20px 0 0 0; list-style:none}
.fl_ul li a:link, .fl_ul li a:visited{width:50%; float:right; background:url(../images/m_arrow.png) no-repeat right 12px; padding:0 15px; text-align:right; color:#fff}
.fl_ul li a:hover{text-decoration:underline}
.fl_ul li{text-align:right; color:#fff}
.menu .box2>ul{padding:0; margin:0; list-style:none; margin:0 auto}
.menu .box2>ul>li{float:right; width:33.3333%; padding:20px}
.menu .box3>ul{padding:0; margin:0; list-style:none; margin:0 auto}
.menu .box3>ul>li{float:right; width:33.3333%; padding:20px}
.box2 .subbox>a{display:block; width:100%; padding:5px; float:right}
.box2 .subbox>a img{width:100%}
.box3 .subbox>a{display:block; width:100%; padding:5px; float:right}
.box3 .subbox>a img{width:100%}
.box3 .subtitle{padding:0; margin:0; list-style:none}
.box3 .subtitle li{font-size:20px; color:#fff; padding:10px; text-align:center; margin-bottom:5px; font-family:title_bold; font-size:22px}
.ul33, .ul33 ul{padding:0; margin:0; list-style:none}
.ul33>li{text-align:right; padding:10px 0; border-bottom:1px solid #66b0dc}
.ul33 li a:link, .ul33 li a:visited{font-family:title_bold; font-size:22px; color:#fff}
.ul33 li a img{margin-left:10px}
.ul33 ul{margin-right:45px}
.ul33 ul li{display:inline-block}
#menu, .slicknav_menu{display:none}
.section{display:block}

.slicknav_menu{display:none; position:relative; top:-65px; margin-bottom:-65px; text-align:right}
.slicknav_btn{display:none}
.slicknav_nav{clear:both; margin:0; padding:0; position:absolute; top:65px; width:100%; right:0; background-color:#0066a2}
.slicknav_nav a{display:block; padding:10px; text-decoration:none; color:#fff; font-size:22px; font-family:title_bold}
.slicknav_menu>ul>li>a{border-bottom:1px solid #3399d5}
.slicknav_menu>ul>li.slicknav_collapsed>a{border-bottom:1px solid #3399d5; background:url(../images/res_arrow_down.png) no-repeat 20px center}
.slicknav_menu>ul>li.slicknav_open>a{background:url(../images/res_arrow_up.png) no-repeat 20px center}
.slicknav_nav a img{margin-left:10px}
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a{display:inline; padding:0; margin:0}
.slicknav_menu:before, .slicknav_menu:after{content:""; display:table}
.slicknav_menu:after{clear:both}
.slicknav_nav, .slicknav_nav ul{list-style:none; overflow:hidden}
.slicknav_nav ul{padding:0; margin:0; background-color:#0080cb}
.slicknav_nav li ul ul{margin:0 40px 20px 0}
.slicknav_nav li ul li{width:100%; border-bottom:1px solid #3399d5}
.slicknav_nav li ul ul li{width:100%; border-bottom:none}
.slicknav_nav li ul li:last-child a{border-bottom:none}
.slicknav_nav li ul a{font-size:20px; padding:20px}
.slicknav_nav li ul ul a{font-size:18px; padding:0 15px 0 0; font-family:"des-regular"; background:url(../images/m_arrow.png) no-repeat right center}

.sec_title{font-size:50px; text-align:center; color:#0080cb; font-family:title_bold; display:block}
.sec_about{color:#606060; font-size:20px; text-align:center; display:block; margin-bottom:35px}
.more_area{display:block; text-align:center; padding:30px 0 70px 0}
.more_area a:link, .more_area a:visited{background-color:#0080cb; color:#fff; font-size:26px; border-radius:100px; padding:10px 40px; font-family:title_bold; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; display:inline-block; border:1px solid #0080cb}
.more_area a:hover{-webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; transform:scale(0.9); -webkit-transform:scale(0.9); -ms-transform:scale(0.9); background-color:#fff; color:#0080cb; border:1px solid #0080cb}

.flip-container{-webkit-perspective:1000px; -moz-perspective:1000px;  -o-perspective:1000px; -ms-perspective:1000px; perspective:1000px; -ms-transform:perspective(1000px); -moz-transform:perspective(1000px);  -moz-transform-style:preserve-3d;  -ms-transform-style:preserve-3d}
.item:hover .flip-container .back{-webkit-transform:rotateY(0deg);  -moz-transform:rotateY(0deg);  -o-transform:rotateY(0deg);  -ms-transform:rotateY(0deg);  transform:rotateY(0deg)}
.item:hover .flip-container .front{-webkit-transform:rotateY(180deg);  -moz-transform:rotateY(180deg);  -o-transform:rotateY(180deg);  transform:rotateY(180deg)}
.flipper{-webkit-transition:0.6s; -webkit-transform-style:preserve-3d; -ms-transition:0.6s; -moz-transition:0.6s; -moz-transform:perspective(1000px); -moz-transform-style:preserve-3d; -ms-transform-style:preserve-3d; transition:0.6s; transform-style:preserve-3d; position:relative; top:0; left:0; -webkit-transition:all 0.4s ease-in-out; -moz-transition:all 0.4s ease-in-out; -o-transition:all 0.4s ease-in-out}
.front, .back{-webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden; backface-visibility:hidden;  -webkit-transition:0.6s;  -webkit-transform-style:preserve-3d;  -moz-transition:0.6s;  -moz-transform-style:preserve-3d;  -o-transition:0.6s;  -o-transform-style:preserve-3d;  -ms-transition:0.6s;  -ms-transform-style:preserve-3d;  transition:0.6s;  transform-style:preserve-3d; position:absolute; top:0; left:0}
.front{-webkit-transform:rotateY(0deg); -ms-transform:rotateY(0deg); background-position:center center; z-index:2}
.back{background:#f2f2f2; -webkit-transform:rotateY(-180deg);  -moz-transform:rotateY(-180deg);  -o-transform:rotateY(-180deg);  -ms-transform:rotateY(180deg);  transform:rotateY(-180deg)}

.places{max-width:1160px; margin:70px auto 0; padding:0 10px}
.places .slick-slider{position:relative;  display:block; padding-bottom:70px}
.places .slick-track{position:relative; top:0; left:0; display:block}
.places .slick-list{position:relative;  display:block;  overflow:hidden}
.places .slick-slide{overflow:hidden; float:right}
.places .slick-dots{position:absolute; bottom:0; right:0; padding:0; margin:0; list-style:none; text-align:center; margin:0 auto; width:100%}
.places .slick-dots li{width:15px; cursor:pointer; margin:0 5px; display:inline !important}
.places .slick-dots li span{display:inline-block; width:25px; height:10px; background:#ddd}
.places .slick-dots li.slick-active span{background:#0080cb}
.places .slick-slide img.item_img{min-height:100%; min-width:100%}
.places .flip-container, .places .front, .places .back{width:100%; height:205px; overflow:hidden}
.places .back{background:#0080cb; color:#fff; font-size:14px; padding:35px; text-align:center; line-height:20px}
.places .back span{display:block; margin-bottom:10px; text-align:justify}
.places .item{padding:0 5px}
.places .double .flip-container, .places .double .front, .double .back{width:100%; height:471px}
.places .f_title{background-color:#0080cb; color:#fff; padding:10px 20px; font-size:22px; font-family:title_bold}
.places .f_title a:link, .places .f_title a:visited{color:#fff; font-size:16px; display:block; margin:5px 10px 0 0; float:left}
.places .places_slider li div.item:first-child{margin-bottom:10px}
.places .places_slider li div.item.double:first-child{margin-bottom:0}

.elan{display:block; position:relative; max-width:1160px; margin:0 auto; overflow:hidden;}
.elan img{min-width:100%}
.elan a:link, .elan a:visited{color:#fff; display:block}
.elan_title{font-size:40px; font-family:title_bold; display:block}
.elan_des{font-size:18px; display:block; margin:20px 0}
.elan_btn{display:inline-block; background-color:#ec382c; font-size:25px; padding:5px 20px; border-radius:100px; font-family:title_bold}
.elan div{margin-right:20%; background-color:rgba(0,0,0,0.5); position:absolute; left:0; top:0; padding:20px 50px; height:100%}

.experiences{background:url(../images/experiences_bg.png) no-repeat bottom center; background-size:100% auto}
.experiences>div{max-width:1170px; margin:70px auto 0; padding:0 10px}
.experiences .slick-slider{position:relative;  display:block; padding-bottom:70px}
.experiences .slick-track{position:relative; top:0; left:0; display:block}
.experiences .slick-list{position:relative;  display:block;  overflow:hidden}
.experiences .slick-slide{overflow:hidden; float:right; padding:0 5px}
.experiences .slick-dots{position:absolute; bottom:0; right:0; padding:0; margin:0; list-style:none; text-align:center; margin:0 auto; width:100%}
.experiences .slick-dots li{width:15px; cursor:pointer; margin:0 5px; display:inline !important}
.experiences .slick-dots li span{display:inline-block; width:25px; height:10px; background:#ddd}
.experiences .slick-dots li.slick-active span{background:#0080cb}
.experiences .slick-slide img.item_img{min-height:100%; width:100%}
.experiences .flip-container, .experiences .front, .experiences .back{width:100%; height:350px; overflow:hidden}
.experiences .back{background:#0080cb; color:#fff; font-size:14px; padding:35px; text-align:center; line-height:20px}
.experiences .back span{display:block; margin-bottom:10px; text-align:justify}
.experiences .f_title{background-color:#0080cb; color:#fff; padding:10px 20px; font-size:22px; font-family:title_bold; text-align:center; direction:ltr}
.experiences .f_title span{display:block}
.experiences .f_title a:link, .experiences .f_title a:visited{color:#fff; font-size:16px; display:block; margin:5px 10px 0 0; display:inline-block}
.experiences .places_slider li div.item:first-child{margin-bottom:10px}
.experiences .places_slider li div.item.double:first-child{margin-bottom:0}

.video{background-color:#f3f3f3}
.video>div{max-width:1170px; margin:0 auto; padding:70px 10px 0}
.video iframe{width:100%; border:none}

.instagram{background-color:#fff; background-size:100% auto}
.instagram>div{max-width:1170px; margin:0 auto; padding:0 10px; padding-top:70px}
.instagram .masonry{margin:0; padding:0; list-style:none}
.instagram .item{float:right; width:33.3333%}
.instagram .item img{min-width:100%; height:100%; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; transform:scale(1.0); -webkit-transform:scale(1.0); -ms-transform:scale(1.0)}
.instagram .item div:hover img{-webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; transform:scale(1.2); -webkit-transform:scale(1.2); -ms-transform:scale(1.2)}
.instagram .item div{overflow:hidden; margin:10px 5px; position:relative}
.instagram .item a:link, .instagram .item a:visited{color:#fff; font-size:30px; position:absolute; bottom:15px; left:10px}
.instagram .item a i{float:left}

.instagram .item:nth-child(1) div:nth-child(1){height:350px}
.instagram .item:nth-child(1) div:nth-child(2){height:300px}
.instagram .item:nth-child(2) div:nth-child(1){height:250px}
.instagram .item:nth-child(2) div:nth-child(2){height:400px}
.instagram .item:nth-child(3) div:nth-child(1){height:350px}
.instagram .item:nth-child(3) div:nth-child(2){height:300px}

.footer_tabs{background-color:#f3f3f3; background-size:100% auto}
.footer_tabs>div{max-width:1170px; margin:0 auto; padding:70px 10px}

.footer_tabs .box{overflow:hidden; height:0}
.footer_tabs .box.visible{overflow:visible; height:auto}

.footer_tabs ul.tabs{padding:0; margin:0; list-style:none}
.footer_tabs ul.tabs li{float:right; width:20%; padding:0 15px 40px; text-align:center; cursor:pointer}
.footer_tabs ul.tabs li i{display:inline-block; border-radius:500px; border:5px solid #fff; background-color:#0080cb; padding:30px 0; width:150px; height:150px; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; box-shadow:1px 2px 4px rgba(0,0,0,0.5)}
.footer_tabs ul.tabs li i img{max-width:100%; max-height:100%}
.footer_tabs ul.tabs li i img:nth-child(1){display:inline-block}
.footer_tabs ul.tabs li i img:nth-child(2){display:none}
.footer_tabs ul.tabs li strong{font-weight:normal; display:block; font-size:26px; font-family:title_bold; margin:20px 0}
.footer_tabs ul.tabs li span{font-size:14px; line-height:20px; display:block}
.footer_tabs ul.tabs li.current i, .footer_tabs ul.tabs li:hover i{background-color:#fff; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out}
.footer_tabs ul.tabs li.current i img:nth-child(2), .footer_tabs ul.tabs li:hover i img:nth-child(2){display:inline-block}
.footer_tabs ul.tabs li.current i img:nth-child(1), .footer_tabs ul.tabs li:hover i img:nth-child(1){display:none}
.footer_tabs ul.tabs li.current strong, .footer_tabs ul.tabs li:hover strong{color:#0080cb}

.filters{padding:0; margin:0; list-style:none}
.filters li{float:right; width:33.3333%; padding:0 10px}
.filters li:nth-child(3n+1){padding-right:0}
.filters li:nth-child(3n+3){padding-left:0}
.filters li select{width:100%; font-size:18px; color:#606060; font-family:title_bold; border:1px solid #e9e9e9; padding:5px}

.footer_tabs .slick-slider{position:relative;  display:block; padding:0 0 70px}
.footer_tabs .slick-track{position:relative; top:0; left:0; display:block}
.footer_tabs .slick-list{position:relative;  display:block;  overflow:hidden}
.footer_tabs .slick-slide{overflow:hidden; float:right; padding:0 5px}
.footer_tabs .slick-dots{position:absolute; bottom:0; right:0; padding:0; margin:0; list-style:none; text-align:center; margin:0 auto; width:100%}
.footer_tabs .slick-dots li{width:15px; cursor:pointer; margin:0 5px; display:inline !important}
.footer_tabs .slick-dots li span{display:inline-block; width:25px; height:10px; background:#ddd}
.footer_tabs .slick-dots li.slick-active span{background:#0080cb}
.footer_tabs .slick-slide .guide_img{float:right; width:40%; height:236px; overflow:hidden; text-align:center}
.footer_tabs .slick-slide .guide_img img{min-height:100%; min-width:100%}
.footer_tabs .flip-container{width:60%; height:236px; color:#fff; font-size:14px; float:left}
.footer_tabs .front, .footer_tabs .back{width:100%; height:236px; overflow:hidden}
.footer_tabs .back, .footer_tabs .front{padding:20px; background:#0080cb}
.footer_tabs .flip-container strong{font-weight:normal; display:block; font-size:26px; font-family:title_bold}
.footer_tabs .flip-container span{font-size:14px; line-height:20px}
.footer_tabs .flip-container .back ul{padding:0; margin:0; list-style:none}
.footer_tabs .flip-container .back ul li{padding:5px 0; border-bottom:1px dashed #ccc}
.footer_tabs .flip-container .back ul li a:link, .footer_tabs .flip-container .back ul li a:visited{color:#fff; font-size:14px}
.footer_tabs .flip-container .back ul li i{font-size:18px; margin:0 5px}

.f_row1, .f_row3{background-color:#0080cb}
.f_row2{background-color:#006ba9; text-align:center}
.f_row1>div, .f_row2>div, .f_row3>div{max-width:1170px; margin:0 auto; padding:30px 10px}
.f_banners{float:right; width:75%; padding:0; margin:0; list-style:none}
.f_banners li{float:right; width:25%; padding:5px}
.f_banners li a:link, .f_banners li a:visited{display:block; border:5px solid #fff; height:168px; position:relative; overflow:hidden}
.f_banners li a img{width:100%; height:158px; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out}
.f_banners li a:hover img{-webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; transform:scale(1.1); -webkit-transform:scale(1.1); -ms-transform:scale(1.1)}
.f_banners li a span{width:100%; position:absolute; bottom:0; background-color:#0080cb; text-align:center; color:#fff; font-family:title_bold; font-size:18px; right:0; padding:10px 5px}
.f_banners li:last-child a span{background-color:#f0ae33}
.f_logo{float:left; width:25%; padding:0; margin:0; list-style:none}
.f_logo li{padding:3px 10px}
.f_logo li:nth-child(2) a{display:inline-block; padding:2px 1px}
.f_logo li a img{-webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out}
.f_logo li a:hover img{-webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; transform:scale(0.9)}
.f_row2 a:link, .f_row2 a:visited, .f_row2{color:#fff; font-size:14px}
.f_row2 a:hover{text-decoration:underline}
.f_row2 a{display:inline-block; padding:0 5px}
.f_row3 ul{padding:0; margin:0; list-style:none}
.f_row3 ul li{color:#fff; font-size:14px}
.f_row3 ul li:first-child{float:right}
.f_row3 ul li:last-child{float:left; text-align:left}
.f_row3 ul li a:link, .f_row3 ul li a:visited{display:inline-block; padding:0 2px}

/*internal pages*/
.page_title{position:relative; font-size:60px; color:#fff; font-family:title_bold; max-width:1160px; margin:0 auto; padding:0 20px; top:-220px; margin-bottom:-85px; width:100%; display:block; text-shadow:2px 0 8px #000}
.bc{padding:0 20px; margin:0; list-style:none; display:block; border-bottom:1px solid #e5e5e5}
.bc li{display:inline-block; padding:0; color:#606060; font-size:14px}
.bc li a:link, .bc li a:visited{color:#606060}
.bc li a:hover{color:#0080cb}
.bc li img{padding:5px 0 0 0}
.top_city{border-bottom:58px solid #eee}
.top_city>div{max-width:1160px; width:100%; margin:0 auto; padding:20px 10px 0; position:relative; bottom:-58px}
.top_city ul{padding:0; margin:0; list-style:none}
.top_city ul li{float:right}
.top_city ul li:nth-child(1){width:20%}
.top_city ul li:nth-child(2){width:50%}
.top_city ul li:nth-child(3){width:30%}
.city_logo:link, .city_logo:visited{background-color:#fff; padding:10px; display:block; text-align:center; min-height:310px}
.city_logo img{max-width:100%}
.top_city ul li:nth-child(2) span{font-size:26px; font-family:title_regular; color:#606060; text-align:justify; display:block; padding:0 10px 58px}
.top_city ul li:nth-child(2) div.weather{position:absolute; bottom:10px; right:22%; font-size:20px; color:#606060}
.top_city ul li:nth-child(2) a:link, .top_city ul li:nth-child(2) a:visited{position:absolute; bottom:10px; left:32%; font-size:20px; color:#606060}
.top_city ul li:nth-child(2) a:hover{color:#0080cb}
.city_map{max-width:100%}

.int_nb{max-width:1160px; width:100%; margin:0 auto; padding:20px 10px; text-align:justify}
.int_nb>div.cb{padding:20px 0}
.int_title{color:#0080cb; font-size:50px; font-family:title_bold; padding-bottom:15px}
.fw_img{width:100%; margin:20px 0}
.int_des{color:#606060; line-height:22px; text-align:justify}

.slider_3i .slick-slider{position:relative;  display:block; padding:30px 0 70px}
.slider_3i .slick-track{position:relative; top:0; left:0; display:block}
.slider_3i .slick-list{position:relative;  display:block;  overflow:hidden}
.slider_3i .slick-slide{overflow:hidden; float:right; padding:0 10px}
.slider_3i .slick-dots{position:absolute; bottom:0; right:0; padding:0; margin:0; list-style:none; text-align:center; margin:0 auto; width:100%}
.slider_3i .slick-dots li{width:15px; cursor:pointer; margin:0 5px; display:inline !important}
.slider_3i .slick-dots li span{display:inline-block; width:25px; height:10px; background:#ddd}
.slider_3i .slick-dots li.slick-active span{background:#0080cb}
.slider_3i .slick-slide img.item_img{min-height:100%; width:100%}
.slider_3i .flip-container, .slider_3i .front, .slider_3i .back{width:100%; height:205px; overflow:hidden}
.slider_3i .back{background:#0080cb; color:#fff; font-size:14px; padding:35px; text-align:center; line-height:20px}
.slider_3i .back span{display:block; margin-bottom:10px; text-align:justify}
.slider_3i .double{padding:0 10px}
.slider_3i .double .flip-container, .slider_3i .double .front, .slider_3i .double .back{width:100%; height:471px}
.slider_3i .f_title{background-color:#0080cb; color:#fff; padding:10px 20px; font-size:22px; font-family:title_bold}
.slider_3i .f_title a:link, .slider_3i .f_title a:visited{color:#fff; font-size:16px; display:block; margin:5px 10px 0 0; float:left}

.slider_5i .slick-slider{position:relative;  display:block;  padding:30px 0 70px}
.slider_5i .slick-track{position:relative; top:0; left:0; display:block}
.slider_5i .slick-list{position:relative;  display:block;  overflow:hidden}
.slider_5i .slick-slide{overflow:hidden; float:right; padding:0 5px}
.slider_5i .slick-dots{position:absolute; bottom:0; right:0; padding:0; margin:0; list-style:none; text-align:center; margin:0 auto; width:100%}
.slider_5i .slick-dots li{width:15px; cursor:pointer; margin:0 5px; display:inline !important}
.slider_5i .slick-dots li span{display:inline-block; width:25px; height:10px; background:#ddd}
.slider_5i .slick-dots li.slick-active span{background:#0080cb}
.slider_5i .slick-slide img.item_img{min-height:100%; width:100%}
.slider_5i .flip-container, .slider_5i .front, .slider_5i .back{width:100%; height:350px; overflow:hidden}
.slider_5i .back{background:#0080cb; color:#fff; font-size:14px; padding:35px; text-align:center; line-height:20px}
.slider_5i .back span{display:block; margin-bottom:10px; text-align:justify}
.slider_5i .f_title{background-color:#0080cb; color:#fff; padding:10px 20px; font-size:22px; font-family:title_bold; text-align:center; direction:ltr}
.slider_5i .f_title span{display:block}
.slider_5i .f_title a:link, .slider_5i .f_title a:visited{color:#fff; font-size:16px; display:block; margin:5px 10px 0 0; display:inline-block}
.slider_5i .places_slider li div.item:first-child{margin-bottom:10px}
.slider_5i .places_slider li div.item.double:first-child{margin-bottom:0}

.slider_1i .slick-slider{position:relative;  display:block; padding:30px 0 70px}
.slider_1i .slick-track{position:relative; top:0; left:0; display:block}
.slider_1i .slick-list{position:relative;  display:block;  overflow:hidden}
.slider_1i .slick-slide{overflow:hidden; float:right; padding:0 10px}
.slider_1i .slick-dots{position:absolute; bottom:0; right:0; padding:0; margin:0; list-style:none; text-align:center; margin:0 auto; width:100%}
.slider_1i .slick-dots li{width:15px; cursor:pointer; margin:0 5px; display:inline !important}
.slider_1i .slick-dots li span{display:inline-block; width:25px; height:10px; background:#ddd}
.slider_1i .slick-dots li.slick-active span{background:#0080cb}
.slider_1i .slick-slide img.item_img{float:right; height:260px; width:30%}
.slider_1i .slick-slide>div{float:left; width:69%; background-color:#f3f3f3; min-height:260px}
.slider_1i .slick-slide>div>span{display:block; padding:20px; line-height:20px; font-size:14px; height:211px}
.slider_1i .slick-slide>div>span a:link, .slider_1i .slick-slide>div>span a:visited{color:#0080cb}
.slider_1i .f_title{background-color:#0080cb; color:#fff; padding:10px 20px; font-size:22px; font-family:title_bold}
.slider_1i .f_title a:link, .slider_1i .f_title a:visited{color:#fff; font-size:16px; display:block; margin:5px 10px 0 0; float:left}
.int_elan{margin:20px auto}

.int_nb .intro{font-size:26px; font-family:title_regular; font-style:italic}
.int_nb h1{font-size:35px; font-weight:normal; color:#0080cb; font-family:title_bold; margin:0; padding:30px 0 5px; display:block}
.conts_img{float:right; max-width:100%; margin:0 0 10px 10px}
.fshare{border-top:1px solid #eee; margin:10px 0 0 0; display:block}
.fshare a:link, .fshare a:visited{color:#606060; font-size:16px; display:block; margin:0 10px 0 0; float:left}
.fshare a:hover{color:#0080cb}
.g_link{color:#0080cb; font-family:Tahoma; text-decoration:underline}

.filters2{padding:20px; background-color:#f3f3f3; margin:20px 0}
.filters2 ul{padding:0; margin:0; list-style:none}
.filters2 ul li{float:right; width:42%; padding:0 10px}
.filters2 ul li:nth-child(3){width:16%}
.filters2 ul li a:link, .filters2 ul li a:visited{display:block; padding:10px; text-align:center; border-radius:150px; background-color:#0080cb; color:#fff; font-family:title_bold; font-size:24px; line-height:20px}
.filters2 li select{width:100%; font-size:18px; color:#606060; font-family:title_bold; border:1px solid #e9e9e9; padding:5px}

.items_grid img.item_img{min-height:100%; width:100%}
.items_grid .flip-container, .items_grid .front, .items_grid .back{width:100%; height:205px; overflow:hidden}
.items_grid .back{background:#0080cb; color:#fff; font-size:14px; padding:35px; text-align:center; line-height:20px}
.items_grid .back span{display:block; margin-bottom:10px; text-align:justify}
.items_grid .double{padding:0 10px}
.items_grid .double .flip-container, .items_grid .double .front, .items_grid .double .back{width:100%; height:471px}
.items_grid .f_title{background-color:#0080cb; color:#fff; padding:10px 20px; font-size:22px; font-family:title_bold}
.items_grid .f_title a:link, .items_grid .f_title a:visited{color:#fff; font-size:16px; display:block; margin:5px 10px 0 0; float:left}
.items_grid{padding:0; margin:0; list-style:none}
.items_grid li{float:right; float:right; width:33.3333%; padding:5px}
.items_grid li:nth-child(3n+1){padding-right:0}
.items_grid li:nth-child(3n+3){padding-left:0}
.int_nb .more_area{padding:30px 0}

.newsletter{width:100%; background:url(../images/newsletter_bg.jpg) no-repeat right center; background-size:100% 100%; padding:20px 40% 20px 20px !important}
.newsletter strong{font-size:40px; font-family:title_bold; color:#fff; display:block; font-weight:normal}
.newsletter input{background-color:rgba(255,255,255,0.5); border:1px solid #ddd; font-size:25px; color:#fff; padding:10px; width:100%; font-family:title_bold; margin:20px 0}
.newsletter a:link, .newsletter a:visited{background-color:#0080cb; color:#fff; font-size:26px; border-radius:100px; padding:10px 40px; font-family:title_bold; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; display:inline-block; border:1px solid #0080cb}

.info_msg{font-size:26px; font-family:title_bold; padding:15px 0; display:block; text-align:right}
.info_msg img{float:right; margin-left:20px}

form{padding:20px; background-color:#f3f3f3; margin:15px 0}
form .form-group label{width:30%; font-size:22px; font-family:title_bold; float:right}
form .form-group input{max-width:450px}
form .form-group input, form .form-group textarea{width:70%; font-family:title_bold; font-size:20px; padding:10px; float:right; margin:0 0 10px 0; border:1px solid #e7e7e7}
.btn_row{text-align:center; padding:0 0 15px !important}
.btn{background-color:#0080cb; color:#fff; font-size:26px; border-radius:100px; padding:10px 40px; font-family:title_bold; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; display:inline-block; border:1px solid #0080cb; margin:0 10px; cursor:pointer}
.btn:hover{-webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; background-color:#fff; color:#0080cb; border:1px solid #0080cb}

.filters3{padding:20px; background-color:#f3f3f3; margin:20px 0}
.filters3 ul{padding:0; margin:0; list-style:none}
.filters3 ul li:nth-child(1){float:right; width:70%; padding:0 10px}
.filters3 ul li:nth-child(2){float:right; width:30%; padding:0 10px}
.filters3 li input{font-size:22px; color:#606060; font-family:title_bold; border:1px solid #e9e9e9; padding:5px; width:100%; margin:0 5px}
.filters3 ul li a:nth-child(1):link, .filters3 ul li a:nth-child(2):visited{display:inline-block; padding:10px 30px; text-align:center; border-radius:150px; background-color:#0080cb; color:#fff; font-family:title_bold; font-size:24px; line-height:20px; margin:0 5px}
.filters3 ul li a:nth-child(2):link, .filters3 ul li a:nth-child(1):visited{display:inline-block; padding:10px 30px; text-align:center; border-radius:150px; background-color:#fff; color:#0080cb; font-family:title_bold; font-size:24px; line-height:20px; margin:0 5px; border:1px solid #eee}

.srch_res{padding:0; margin:0; list-style:none}
.srch_res li{margin:0 0 10px 0; background-color:#f3f3f3}
.srch_res li img{float:right; width:20%; height:165px; margin:0 0 0 10px}
.srch_res li strong{font-weight:normal; font-size:26px; color:#0080cb; font-family:title_bold; display:block; padding:10px 20px}
.srch_res li span{display:block; padding:0 20px}
.srch_res li a:link, .srch_res li a:visited{color:#0080cb; padding:0 20px 20px; display:block}
.srch_res li a:hover{text-decoration:underline}

.sitemap{margin:30px 0; padding:0; list-style:none}
.sitemap ul{padding:0; margin:0; list-style:none}
.sitemap>li{display:block; width:100%; clear:both}
.sitemap>li>a:link, .sitemap>li>a:visited{color:#fff; font-size:35px; background-color:#0080cb; padding:0 20px; font-family:title_bold}

.sitemap>li>ul>li{float:right; width:25%; padding:15px 0}
.sitemap>li>ul>li>a:link, .sitemap>li>ul>li>a:visited{color:#0080cb; font-family:title_bold; font-size:26px}

.sitemap>li>ul>li>ul>li{padding:5px 0}
.sitemap>li>ul>li>ul>li>a:link, .sitemap>li>ul>li>ul>li>a:visited{color:#606060; font-family:title_bold; font-size:20px}

.sitemap>li>ul>li>ul>li ul li a:link, .sitemap>li>ul>li>ul>li ul li a:visited{color:#606060; font-size:16px; color:#909090}
.filters4{padding:20px; background-color:#f3f3f3; margin:20px 0}
.filters4 ul{padding:0; margin:0; list-style:none}
.filters4 li select{width:100%; font-size:18px; color:#606060; font-family:title_bold; border:1px solid #e9e9e9; padding:5px}

.html5gallery-right-0, .html5gallery-fullscreen-box-0>div:nth-child(3){background-image:url(../images/side_next.png) !important}
.html5gallery-left-0, .html5gallery-fullscreen-box-0>div:nth-child(4){background-image:url(../images/side_prev.png) !important}
.html5gallery-play-0{background-image:url(../images/side_play.png) !important}
.html5gallery-pause-0{background-image:url(../images/side_pause.png) !important}
.html5gallery-lightbox-0{background-image:url(../images/side_lightbox.png) !important}
.html5gallery-car-left-0{background-image:url(../images/carousel_left.png) !important}
.html5gallery-car-right-0{background-image:url(../images/carousel_right.png) !important}
.html5gallery-fullscreen-bar-wrapper-0 div:nth-child(1){background-image:url(../images/lightbox_close.png) !important}
.html5gallery-fullscreen-bar-wrapper-0 div:nth-child(2){background-image:url(../images/lightbox_play.png) !important}
.html5gallery-fullscreen-bar-wrapper-0 div:nth-child(3){background-image:url(../images/lightbox_pause.png) !important}
.html5gallery-elem-img-0 a, .html5gallery-elem-0 a{position:absolute !important; top:-5000px !important}
.html5gallery-title-text-0, .html5gallery-fullscreen-title-0{text-align:right !important; font-family:title_bold !important; font-size:16px !important; padding:10px !important}
.html5gallery-tn-title-0{font-family:des-regular !important; line-height:14px}
.html5gallery-thumbs-0{float:left}
.html5gallery-elem-0, .html5gallery-tn-0{-moz-box-shadow:0 0 0 1px #ddd !important; -webkit-box-shadow:0 0 0 1px #ddd !important; box-shadow:0 0 0 1px #ddd !important}
.html5gallery-tn-selected-0{-moz-box-shadow:0 0 0 1px #0080cb !important; -webkit-box-shadow:0 0 0 1px #0080cb !important; box-shadow:0 0 0 1px #0080cb !important}
.instagram.internal>div{padding-top:15px}
/*.html5gallery-tn-0, .html5gallery-thumbs-0, .html5gallery-tn-selected-0{float:right !important}
*/
@media (max-width:1450px){.subtabs li{min-height:74px}
.fl_ul li a:link, .fl_ul li a:visited{width:100%}
}
@media (max-width:1160px){.menu .box3>ul>li{width:50%}
.menu .box3>ul>li:last-child{width:100%}
.filters3 ul li:nth-child(1){width:100%; padding-bottom:20px}
.filters3 ul li:nth-child(2){width:100%; text-align:center}
.sitemap>li>ul>li>a:link, .sitemap>li>ul>li>a:visited{font-size:22px}
}
@media (max-width:990px){.main_slide>img:nth-child(1){max-width:200%; width:auto; float:left}
.menu .tabs, .menu .box, .menu .subbox{display:none !important}
.slicknav_menu, .slicknav_nav{display:block !important}
.sec_title{font-size:35px}
.sec_about{font-size:16px; margin-bottom:15px}
.places .slick-slider{padding-bottom:50px}
.places, .experiences>div{margin:30px auto 0}
.video>div, .instagram>div{padding-top:30px}
.footer_tabs>div{padding:30px 10px}
.more_area{padding:10px 0 30px 0}
.more_area a:link, .more_area a:visited{font-size:20px; padding:10px 30px}
.footer_tabs ul.tabs{text-align:center}
.footer_tabs ul.tabs li{float:none; display:inline-block; width:auto; padding:0 15px 10px}
.footer_tabs ul.tabs li span{display:none}
.footer_tabs ul.tabs li i{width:120px; height:120px}
.footer_tabs ul.tabs li strong{font-size:20px}
.instagram .item:nth-child(1) div:nth-child(1){height:250px}
.instagram .item:nth-child(1) div:nth-child(2){height:200px}
.instagram .item:nth-child(2) div:nth-child(1){height:150px}
.instagram .item:nth-child(2) div:nth-child(2){height:300px}
.instagram .item:nth-child(3) div:nth-child(1){height:250px}
.instagram .item:nth-child(3) div:nth-child(2){height:200px}
.top_city>div{padding-top:0}
.top_city{border-bottom:58px solid #fff}
.top_city ul li:nth-child(2) span{font-size:20px; padding:0 10px 10px}
.top_city ul li:nth-child(2) div.weather, .top_city ul li:nth-child(2) a:link, .top_city ul li:nth-child(2) a:visited{position:relative; width:100%; display:block; bottom:0; right:0; padding:0 10px; border-top:1px dotted #ccc}
.int_title{font-size:35px}
.city_logo:link, .city_logo:visited{min-height:0}
.items_grid li{width:50%}
.items_grid li:nth-child(3n+1){padding-right:5px}
.items_grid li:nth-child(3n+3){padding-left:5px}
.items_grid li:nth-child(2n+1){padding-right:0}
.items_grid li:nth-child(2n+2){padding-left:0}
.newsletter strong{font-size:28px}
.srch_res li img{width:30%}
.sitemap>li>ul>li{width:100%}
.sitemap>li{float:right; width:50%; clear:none}
}
@media (max-width:850px){.f_row3 ul li{float:right !important; width:100% !important; text-align:right !important}
.f_banners, .f_logo{float:right; width:100%}
.f_logo{padding-top:20px}
.items_grid .f_title{font-size:18px}
.newsletter{background-size:auto 100%}
form .form-group label, form .form-group input, form .form-group textarea{width:100%; font-size:18px; float:right}
form .form-group input, form .form-group textarea{max-width:100%; margin:10px 0 20px}
.info_msg, .btn{font-size:18px}
.int_nb .intro{font-size:20px}

}
@media (max-width:767px){.page_title{font-size:40px; top:-160px; margin-bottom:-45px}
.top_city ul li:nth-child(2) span{font-size:16px}
.slider_1i .slick-slide img.item_img{height:auto; width:100%}
.slider_1i .slick-slide>div{width:100%}
.sitemap>li{width:100%}
}
@media (max-width:650px){.sec_title{font-size:25px}
.sec_about{font-size:14px}
.elan_title{font-size:30px}
.elan_des{font-size:16px; margin:10px 0}
.elan_btn{font-size:20px; padding:5px 10px}
.f_banners li{width:50%}
.instagram .item:nth-child(1) div:nth-child(1){height:150px}
.instagram .item:nth-child(1) div:nth-child(2){height:100px}
.instagram .item:nth-child(2) div:nth-child(1){height:100px}
.instagram .item:nth-child(2) div:nth-child(2){height:150px}
.instagram .item:nth-child(3) div:nth-child(1){height:150px}
.instagram .item:nth-child(3) div:nth-child(2){height:100px}
.top_city ul li:nth-child(1){float:right; width:100%; text-align:center}
.top_city ul li:nth-child(2){float:left; width:100%}
.top_city ul li:nth-child(3){float:right; width:100%; text-align:center}
.top_city ul li:nth-child(2) span{font-size:20px}
.city_logo:link, .city_logo:visited{min-height:0}
.filters2 ul li{width:100% !important; padding-bottom:5px; padding-top:5px}
.newsletter{padding:20px !important}
.filters3 li *{font-size:18px !important}
.srch_res li img{width:100%; height:auto; margin:0 0 20px 0}
}
@media (max-width:550px){.conts_img{width:100%; margin:10px 0}
.items_grid li{width:100%}
.items_grid li{padding:5px 0 !important}
}
@media (max-width:480px){}
@media print{}
